In [1]:
import psycopg2
import pandas as pd
from sql_queries import insert_data_queries
from sqlalchemy import create_engine

In [2]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [4]:
cur.execute("CREATE TABLE IF NOT EXISTS time (start_time timestamp PRIMARY KEY, hour int, day int, week int, month int, year int, weekday int);")

In [10]:
#cur.execute("DROP TABLE IF EXISTS time;")

In [5]:
try:
    cur.execute("INSERT INTO time (start_time, hour, day, week, month, year, weekday) \
                      VALUES (%s, %s, %s, %s, %s, %s, %s)", ("2018-11-30 00:22:07.796", 1, 2, 3, 2, 2016, 3))
except psycopg2.Error as e:
    print("Error inserting data")
    print(e)

In [6]:
# Insert Test Data

def insert_tables(cur, conn):
    """
    Drops each table using the queries in `drop_table_queries` list.
    """
    for query in insert_data_queries:
        cur.execute(query)
        conn.commit()

In [9]:
cur.execute("select * from time;")

column_names = ['start_time', 'hour', 'day', 'week', 'month', 'year', 'weekday']
tupples = cur.fetchall()

df = pd.DataFrame(tupples, columns = column_names)
df

               start_time  hour  day  week  month  year  weekday
0 2018-11-30 00:22:07.796     1    2     3      2  2016        3

In [11]:
conn.close()